#a{
	text-align: center;
	border: 5px solid #FADA5E;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:20px;
	padding-top:20px;
	font-size:70px;
	font-style:oblique;
	font-weight:bold;
	font-family:"Algerian","Arial Black", serif;
	color:#000080;
	background-image:url("mu.jpg");
	background-repeat:repeat;
	position:fixed;
	width:100%;
	z-index:1;
}
#aa{
	z-index:2;
	color:#00BFFF;
	font-size:20px;
	font-style:oblique;
	font-family:"Arial Black", serif;
}
aaa{
	color:#00BFFF;
	font-size:20px;
	font-style:oblique;
	font-family:"Arial Black", serif;
}
#aaaa{
	font-size:24px;
	margin-left:130px
}
#A{
	padding-bottom:170px;
}
#AA{
	background-image:url("Back.jpg");
	background-repeat:repeat;
	color:#BC8F8F;
	font-family:"Algerian","Arial Black", serif;
	font-size:18px;
	font-style:bold;
}
#AAA{
	position:absolute;
	margin-top:100%;
	margin-bottom:10px;
	padding-bottom:100px;
	height:10px;
	width:100%;
	background-image:url("back_.jpg");
}
text{
	z-index:2;
	color:#00BFB8;
	font-size:28px;
	font-style:oblique;
	font-family:"Arial Black", serif;
}
#Apic{
	background-image:url("Borro.jpg");
	height:476px;
	width:715px;
	opacity:0.9;
	margin-left:130px;
	background-repeat:no-repeat;
	padding-top:470px;
}
#Apica{
	color:#BC8F8F;
	font-family:"Algerian","Arial Black", serif;
	font-size:30px;
	font-style:oblique;
}
#AAbtna{
	position:absolute;
	margin-top:60px;
	margin-left:900px;
	background-color:gray;
	border:non;
	color:yellow;
	font-size:25px;
	transition:1s;
	
}
#AAbtna:hover{
	background-image:url("luxus.jpg");
	height:150px;
	width:200px;
	color:#e6c541;
	font-size:0px;
}
#AAbtnaa{
	position:absolute;
	margin-top:210px;
	margin-left:900px;
	background-color:gray;
	border:non;
	color:yellow;
	font-size:25px;
	transition:1s;
	
}
#AAbtnaa:hover{
	background-image:url("famili.jpg");
	height:150px;
	width:200px;
	color:#e6c541;
	font-size:0px;
}
#AAbtnaaa{
	position:absolute;
	margin-top:360px;
	margin-left:900px;
	background-color:gray;
	border:non;
	color:yellow;
	font-size:25px;
	transition:1s;
	
}
#AAbtnaaa:hover{
	background-image:url("norm.jpg");
	height:150px;
	width:200px;
	color:#e6c541;
	font-size:0px;
}